:root {
  --bg: #ddd9d9;
  --co: #000;
  --ho: #6c5ce7;
  --ac: rgba(50, 159, 192, 0.844);
  --inp: rgb(214, 211, 211);
  --light: #f8f9fa;
  --dark: #333333;
  --box-shadow: 0 0 5px var(--dark);
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-color: var(--light);
}
nav {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px #333;
  z-index: 10;
}
nav img {
  height: 50px;
  cursor: pointer;
}
nav .nav-content > * {
  margin: 0 5px;
}
.fas:hover {
  color: var(--ho);
}
a {
  color: var(--ho);
}
a i {
  color: #333;
}
.box {
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box #comm {
  padding: 8px;
  width: 80%;
  outline: 0;
  border: none;
  border-bottom: 3px solid;
  background: var(--inp);
  color: var(--co);
  background: var(--inp);
  border-bottom: 2px solid var(--dark);
  font-family: inherit;
}
.box button {
  width: 10%;
  height: 40px;
  padding: 8px;
  font-weight: 600;
  outline: 0;
  border: none;
}
.comment {
  margin: 0 auto;
  width: 98%;
  height: auto;
  padding: 1px;
  border-radius: 2px;
  box-shadow: 0 0 1px #000;
}
.comment h5,
.comment p {
  margin: 0;
}
.comment-action ul {
  display: flex;
  margin: 0;
  list-style: none;
}
.comment h5 {
  margin-left: 10px;
}
.comment p {
  margin-left: 20px;
}
.comment-action li {
  margin: 0 9px;
}
.sbtn {
  border: none;
  outline: 0;
  width: 100px;
  height: 60%;
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  font-size: 95%;
  color: #fff;
  background: rgba(67, 22, 228, 0.844);
}
.sbtn:hover {
  opacity: 0.7;
}
.sbtn:active {
  background: var(--ac);
}
.rounded-image {
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px
}

.name {
  font-weight: 600
}

.comment-text {
  font-size: 12px
}

.status small {
  margin-right: 10px;
  color: blue
}
@media screen and (max-width: 620px) {
  .box #comm {
    width: 65%;
  }
  .box button {
    width: 26%;
  }
}
