/* comment.css */


/* Comment box */
.box {
  display: flex;
  align-items: center;
}

.box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.box button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Comment section */
#comments-section {
  margin-top: 20px;
}

/* Comment container */
.comment-container {
  background-color: var(--comment-card);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px; /* Larger margin between parent comments */
}
.comment-container:not(.reply-container) {
  margin-top: 20px;
}
.reply-container {
  margin-bottom: 2.5px; /* Smaller margin between replies */
}

.comment-container:first-child {
  margin-top: 0;
}

/* Comment header */
.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  font-size: 16px;
}

.comment-date {
  font-size: 12px;
  color: #888;
}

/* Comment content */
.comment-content {
  margin-bottom: 10px;
  font-size: 14px;
}

/* Comment actions */
.comment-actions a {
  color: #888;
  margin-right: 10px;
}

.comment-actions a:hover {
  color: #333;
}

.comment-actions i {
  margin-right: 5px;
}
.highlight {
  border: 1px solid var(--ho);
}
/* Reply form */
.reply-form {
  margin-left: 20px;
  min-width: 200px;
}
