:root{
 --bg: #ddd9d9;
 --co: #000;
 --ho: rgba(67, 22, 228, 0.844);    
 --ac: rgba(50, 159, 192, 0.844);
 --inp: rgb(214, 211, 211);
 --box-shadow: 0 0 5px var(--dark); 
} 

body {
  --ho: red;  
  font-size: .875rem;  
  background-color:#5a5c69;
  color: red;
}
.l{
  color: #f8f9fc;
}
.d{ 
  color: #333;
}
.card{
   background-color: #858796;  
   color: #f8f9fc;
}
a{
    text-decoration: none;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: var(--light); 
}
 
.row{
  color: var(--light)
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: blue; 
}

.sidebar .nav-link.active {
  color: var(--ho);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: white; 
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: var(--ho);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;

}
.sidebar-sticky{
  color: white;
}
.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: #495057;
  border-color: var(--ho); 
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.bg{
    background: var(--ho);   
}  
.co{
  color: darkgrey; 
  text-decoration: none;  
  font-family: arial, sans-serif,monospace; 
}
.co:hover,
.co:focus{ 
   text-decoration: none;      
  color: #333;  
} 

.circle{
 background-image: url('../img/dot.svg'); 
}