.post-div {
  position: relative;
  padding: 0;
  margin: 12px auto;
  min-width: 220px;
  max-width: 620px;
  height: auto;
  background: var(--card);
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px var(--dark);
  font-family: sans-serif;
}
.post-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

textarea.textinput {
  width: 100%;
  border: none;
  border-radius: 0.4em;
  background: var(--light);
}
.post-head {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 38px;
  background: var(--icon-light);
  align-items: center;
}

.post-body {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 400px;
  max-height: 450px;
  align-items: center;
  display: grid;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.post_image {
  width: 100%;
  height: 100%;
}

.social-opt {
  width: 100%;
  height: 58px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.post-text {
  font-size: 18px;
  font-weight: bold;
  color: var(--co);
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background: var(--white);
  border: none;
  outline: none;
  box-shadow: none;
  font-family: sans-serif;
}

.social-act {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: var(--white);
  font-family: sans-serif;
}
.social-opt .icon {
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.social-opt .icon small {
  font-weight: 700;
  font-family: monospace;
  font-size: large;
  color: var(--co);
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
}

.right {
  position: absolute;
  right: 13px;
}

.usn {
  font-size: medium;
}
/*  animate like */
.like {
  color: var(--ho);
  transition: all 0.5s ease;
}
.like:active {
  /*createarisinganimationwhilefading*/
  transform: translateY(3px);
  color: var(--ho);
  animation: like 0.5s ease;
}
@keyframes like {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3px);
  }
}

.lone {
  font-size: 18px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item:active {
  background: var(--ho);
}
