.post-div {
    position: relative;
    padding: 0;
    margin: 12px auto;
    width: 90%;
    min-width: 220px;
    max-width: 550px;
    height: auto;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px #333;
    font-family: sans-serif;
}

.post-head {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 38px;
    background: #f8f9fc;
    align-items: center;
}

.profile_picture {
    position: absolute;
    border: 2px dotted purple;
    left: 6px;
}

.post_image {
    width: 100%;
    height: auto;

}

.social-opt {
    width: 100%;
    height: 58px;
    background: var(--white);
}

.post-text {
    font-size: 18px;
}

.social-act {
    position: absolute;
    margin: 4px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right {
    position: absolute;
    right: 13px;
}

.usn{
    font-size: medium; 
}
.like {
    color: var(--ho);
}

.lone {
    font-size: 18px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item:active {
    background: var(--ho);
}
