:root {
    --slide-width: 344px;
    --slide-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.4);
    --slide-thumb-height: 3px;
    --slide-thumb-default-color: rgba(0, 0, 0, 0.4);
    --slide-thumb-active-color: rgba(255, 255, 255, 0.9);
}

body {
    margin: 0;
}

.main {
    width: 100%;
    padding: 7px 0;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.status-wrapper {
    width: 100%;
    height: 120px;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.status-wrapper::-webkit-scrollbar {
    display: none;
}

.status-card {
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(129deg, var(--ho), var(--purple) 114%);
}

.add {
    background: white !important;
    display: grid;
    place-content: center;
    border: 0.1rem solid var(--ho);
    border-color: linear-gradient(45deg, rgb(148, 95, 239), rgb(68, 89, 244) 80%);
}

.add .fa {
    color:  var(--ho);
}

.anchor {
    all: unset;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: var(--co);
}

img {
    display: block;
    max-width: 100%;
}

.cont {
    position: fixed;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #131314a9;
    z-index: 1000;
    display: none;
}

.slide {
    box-shadow: var(--slide-shadow);
    margin: 20px auto;
    max-width: var(--slide-width);
    position: fixed;
    background-color: var(--background-color);
}

.slide:has(p) {
    background: rgb(40, 15, 232);
    background: linear-gradient(0deg, rgba(40, 15, 232, 1) 0%, rgba(108, 92, 231, 1) 81%);
}

.slide-items {
    border-radius: 5px;
    grid-area: 1/1;
    overflow: hidden;
    position: relative;
}

.slide-items p {
    font-size: 27px;
    line-height: 1.5;
    text-align: center;
    color: #999999;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.slide-items > * {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    user-select: none;
}

.slide-items .active {
    opacity: 1;
    pointer-events: initial;
    position: relative;
}

.slide-nav {
    display: grid;
    grid-area: 1/1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    z-index: 1;
}

.slide-thumbs {
    display: flex;
    grid-column: 1 / 3;
}

p.content-text {
    user-select: none;
    position: absolute;
    width: 300px;
    bottom: 20px;
    padding: 10px;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 68px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

#like-btn {
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 50px;
    right: 12px;
    margin-left: auto;
    position: absolute;
    color:  var(--ho);
}

.slide-thumb-item {
    background-color: var(--slide-thumb-default-color);
    border-radius: 3px;
    display: block;
    flex: 1;
    height: var(--slide-thumb-height);
    margin: 5px;
    overflow: hidden;
}

.slide-thumb-item.active::after {
    animation: thumb 5s forwards linear;
    background-color: var(--slide-thumb-active-color);
    border-radius: 3px;
    content: '';
    display: block;
    height: inherit;
    transform: translateX(-100%);
}

.slide-next,
.slide-prev {
    opacity: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes thumb {
    to {
        transform: initial;
    }
}

.slide-items img,
.slide-items p {
    min-height: 90vh;
    width: 100%;
    object-fit: contain;
}

.slide {
    min-width: 340px;
}

div.slide-thumbs {
    position: absolute;
    top: 0;
    width: 100%;
}

p.active {
    display: grid;
    place-content: center;
    color: #999999;
}

button.slide-next {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    height: 10%;
}

button.slide-prev {
    position: absolute;
    width: 50%;
    top: 0;
    height: 10%;
}

.fa-times {
    position: absolute;
    top: 20px;
    left: 20px;
}

@media screen and (max-width: 604px) {
    .slide {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
    }

    div.cont {
        margin: 0;
        padding: 0;
    }

    .fa-times {
        display: none;
    }
}
