:root{
 --bg: #fff; 
 --co: #000;
 --ho: rgba(67, 22, 228, 0.844); 
 --ac: rgba(50, 159, 192, 0.844);
 --inp: rgb(214, 211, 211);
 --box-shadow: 0 0 5px var(--dark); 
} 

/*
@params */

html {
  scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    background: var(--bg);
    /* font-family: -apple-system,
     BlinkMacSystemFont,
     'Segoe UI',
     Roboto,
     Oxygen,
     Ubuntu,
     Cantarell,
     'Open Sans',
     'Helvetica Neue',
     sans-serif; */
} 
 
a{color: var(--dark);} a:hover{color: var(--ho);} a:foccus{color: var(--ho);} a:visited{color: var(--dark);} 
  
nav{  
    position: -webkit-sticky;
    position: sticky;     
    background-color: var(--white);
    border: none;
    outline: none;
    box-shadow: var(--box-shadow); 
    top: 0; 
   
} 
 
nav img{
    height: 50px;
    width: 50px;     
}

nav ul{    
  list-style: none;         
}   
 
nav ul a{ 
    position: relative;
    color: #000; 
    margin: 0 9px; 
    outline: none;
    border: none;
    text-decoration: none;    
} 
 
li{
    list-style: none; 
}
.header-right{
   display: flex;
   align-items: center;
   padding: 0 6px;   
} 
.bg{
    background: var(--ho); 
}
.btn{ 
  color: #fff; 
}
.sbtn{ 
    border: none;
    outline: none; 
    width: 100px; 
    height: 60%; 
    box-shadow: var(--box-shadow); 
    border-radius: 12px;
    font-size: 95%; 
    color: #fff; 
    background: rgba(67, 22, 228, 0.844);
}

.sbtn:hover{
   background-image: linear-gradient(to left, var(--ho), var(--ac) );

}

.sbtn:active{
    background: var(--ac);
}
.center{
  text-align: center; 
}
.loader { 
  position: fixed;
  background-color: #996bfd;
  display: none; 
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;  
  width: 100vw; 
  z-index: 1200;   
} 
.loader h2{
  position: absolute;
  bottom: 10vh;
  color: rgba(255, 255, 255, 0.966);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;  
}
.form{
    width: 92%;
    max-width: 560px;
    min-width: 250px;
    height: auto; 
    background: #f8f9fc; 
    font-family: 'Courier New', Courier, monospace; 
}


input[type=text], 
input[type=email],
input[type=password]{
    padding: 9px;
    width: 76%;
    outline: none;
    border: none;
    color: var(--co);
    background: var(--inp);
    border-bottom: 2px solid var(--dark);
    font-family: inherit;
}


.fa:hover{
    color:var(--ho);  
} 
.profile-card{   
    margin: 0 auto; 
    width: 94%;  
    min-width: 200px;
    border-radius: 9px;    
} 

.profile-pic{
  margin: 7px auto; 
  border: none;
  outline: none;
}
.profile-pic:hover{
  opacity: .7;   
}

#profile-name{
  font-family: var(--font);
  color: var(--ho); 
}
.profile-opt{
    display: inline-flex; 
    align-items: center; 
    justify-content: space-around;  
}



.postform{
    width: 90%;
    min-height: 120px; 
    
}

.textinput{
  width: 90%;
  outline: none;
  background: var(--inp); 
}

.lone-p{
  text-align: left; 
  font-size: 2em;
  font-family: var(--font); 
}

/*------------following/followers page----------*/

.follower-div{
  position: relative;
  margin: 10px auto;
  display: flex;
  align-items: center;
  background: var(--white);
  height:60px;
  width: 90%;
  max-width: 880px;
  border-radius: 12em;
}

.follower-div img{
  height: 100%;
  width: 60px;
  border-radius: 12em;
}
.follower-div .user{
  height: 100%; 
  width: 43%;           
  margin: 0 12px;  
  overflow: hidden; 
  
}
.follower-div .user a{
 text-decoration: none; 
}

.follower-div .user h2{
  margin: 5px 0;
  font-size: 19px;
  color: var(--ho);   
}

.follower-btn{
  position: absolute;
  right: 20px;
  border-radius: 12em;
  
}

/*------------settins page------------*/
.settings-main{
  text-align: center;
} 

.settings-sidebar{
background: var(--white);   
}  
.settings-option{ 
text-align: center;
border-bottom: 1px solid var(--dark); 
} 

.setting-form{
  height: auto; 
  background: var(--white); 
    border-radius: 12px;
    margin: 10px 0;  
}
.setting-form > *{
 margin: 7px 0;   
}
.profile-card{
position: relative;
}
   
.settings-sidebar a{  
 text-decoration: none;
} 
 
.no-h:hover{
  color: inherit;  
}