/* Set background color for the page */

/* Style for the sidebar */
.sidebar {
  background-color: #7289da;
  color: #fff;
  padding: 20px; 
  height: 100vh;
}
.stick{
  position: sticky;
   top: 0; 
   z-index: 100;   
}
.sidebar h2 {
  font-size: 1.2em;
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.sidebar a.active {
  font-weight: bold;
}

/* Style for the main content */
.main {
  background-color: #fff;
  color: #333;
  padding: 20px;
  margin: auto;
}

.main h1 {
  font-size: 2em;
  margin-top: 0;
}

.main p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Style for the API token section */
.token-section {
  margin-top: 20px;
}

.token-section h4 {
  font-size: 1.2em;
  margin-top: 0;
}

.token-field {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #f0e8ff;
}

.generate-btn {
  margin-top: 10px;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #7289da;
  color: #fff;
}

.bg {
  background-color: #7289da;
}

.generate-btn:hover,
.bg:hover {
  background-color: #677bc4;
}

/* Style for the bots section */
.bots-section {
  margin-top: 20px;
}

.bots-section h4 {
  font-size: 1.2em;
  margin-top: 0;
}

.bot-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bot-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.bot-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.bot-info {
  flex: 1;
}

.bot-info h5 {
  font-size: 1.2em;
  margin-top: 0;
}

.bot-info p {
  font-size: 1.1em;
  margin-top: 5px;
}

.create-bot-btn {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #7289da;
  color: #fff;
}

.create-bot-btn:hover {
  background-color: #677bc4;
}

/* Style for the create bot section */
.create-bot-section {
  margin-top: 20px;
}

.create-bot-section h4 {
  font-size: 1.2em;
  margin-top: 0;
}

.form-group {
  margin-top: 10px;
}

.form-group label {
  font-size: 1.1em;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #f0e8ff;
}

.form-control-file {
  margin-top: 5px;
}

.create-bot-submit {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #7289da;
  color: #fff;
}

.create-bot-submit:hover {
  background-color: #677bc4;
}
@media screen and (max-width: 600px) {
  .sidebar {
    height: fit-content;
  }
  .stick{
    position: relative;
  }
}

