:root{
  --bg: #1f1f1f;
  --co: #fff;
  --option: grey;
  --light: #333;
  --dark: #f6f6f6;
  --white: #333;
  --icon-dark: var(--icon-light);
  --card: #6c757d;
  --tab: #343a40;
    --top: #6c5ce7;
    --card-top: #363434;
    --ac: hsl(253deg 84% 79%);
    --nav: #495057;
    --lighter: #a080ff;
    --box-shadow: 0 0 5px var(--dark);
}